<div *ngIf="supervision">
    <p-accordion>
        <p-accordionTab [selected]="true" header="Supervision" class="text-900 font-medium">
            <div class="grid grid-nogutter surface-border">
                <div class="col-3 border-bottom-1 surface-border pb-3 max-w-16rem">
                    <div class="p-2 text-xl text-900">
                        Summary
                    </div>
                    <form [formGroup]="supervisionSummaryForm">
                        <div class="p-2 grid grid-nogutter">
                            <div class="col-5 text-500 flex align-items-center">Base rate:</div>
                            <div class="col-7 pl-4 pr-3 cell-right">{{ supervisionSummaryForm.value.baseRate | currency: ' ':'code':'2.2-2' }}</div>
                        </div>
                        <div class="p-2 grid grid-nogutter">
                            <div class="col-5 text-500 flex align-items-center">Hourly rate:</div>
                            <div class="col-7 pl-4 pr-3 cell-right">{{ supervisionSummaryForm.value.hourlyRate | currency: ' ':'code':'2.2-2' }}</div>
                        </div>
                        <div class="p-2 grid grid-nogutter">
                            <div class="col-5 text-500 flex align-items-center">Hours count:</div>
                            <div class="col-7 pl-4 pr-3 cell-right">{{ supervisionSummaryForm.value.hoursCount }}</div>
                        </div>
                        <div class="p-2 grid grid-nogutter">
                            <div class="col-5 text-500 flex align-items-center">Visit rate:</div>
                            <div class="col-7 pl-4 pr-3 cell-right">{{ supervisionSummaryForm.value.visitRate | currency: ' ':'code':'2.2-2' }}</div>
                        </div>
                        <div class="p-2 grid grid-nogutter">
                            <div class="col-5 text-500 flex align-items-center">Visit count:</div>
                            <div class="col-7 pl-4 pr-3 cell-right">{{ supervisionSummaryForm.value.visitsCount }}</div>
                        </div>
                        <div class="p-2 grid grid-nogutter">
                            <div class="col-5 text-500 flex align-items-center">Gross value:</div>
                            <div class="col-7 pl-4 pr-3 cell-right">{{ supervisionSummaryForm.value.grossValue | currency: ' ':'code':'2.2-2' }}</div>
                        </div>
                        <div class="p-2 grid grid-nogutter">
                            <div class="col-5 text-500 flex align-items-center">Nett value:</div>
                            <div class="col-7 pl-4 pr-3 cell-right">{{ supervisionSummaryForm.value.netValue | currency: ' ':'code':'2.2-2' }}</div>
                        </div>
                        <div class="p-2 grid grid-nogutter">
                            <div class="col-5 text-500 flex align-items-center">Tax:</div>
                            <div class="col-7 pl-4 pr-3 cell-right">{{ supervisionSummaryForm.value.tax | currency: ' ':'code':'2.2-2' }}</div>
                        </div>
                        <div class="p-2 grid grid-nogutter">
                            <div class="col-5 text-500 flex align-items-center">VAT:</div>
                            <div class="col-7 pl-4 pr-3 cell-right">{{ supervisionSummaryForm.value.vat | currency: ' ':'code':'2.2-2' }}</div>
                        </div>
                    </form>
                </div>
                <div class="col-9">
                    <div class="flex flex-column lg:flex-row lg:justify-content-between align-items-center mb-3">
                        <div class="p-2 text-xl text-900">Visits</div>
                        <p-button title="Add supervision visit" icon="pi pi-plus"
                                  (onClick)="onAddVisitClick()" [rounded]="true"
                                  class="add-button transition-colors transition-duration-300">
                        </p-button>
                    </div>
                    <p-table [value]="supervisionVisits" [tableStyle]="{ 'min-width': '30rem' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Date of Visit</th>
                                <th>Hours</th>
                                <th class="max-w-4rem text-center">Payable</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-visit>
                            <tr>
                                <td>{{ visit.dateOfVisit | date:'yyyy-MM-dd' }}</td>
                                <td>{{ visit.hoursCount }}</td>
                                <td class="max-w-4rem text-center">
                                    <i *ngIf="visit.payable" class="pi pi-check"></i>
                                    <i *ngIf="!visit.payable" class="pi pi-times"></i>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="3" class="text-center">No visits recorded</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-accordionTab>
    </p-accordion>
</div>

<div *ngIf="!supervision">
    <div class="text-center mb-3">Project does not have supervision. Do you want to add it?</div>
    <div class="text-center">
        <p-button label="Add Supervision" size="small" severity="secondary" class="top-menu-button" (onClick)="onAddSupervisionClick()"/>
    </div>
</div>
