<wrapper [title]="'Clients'">
    <div wrapper-body>
        <p-table [value]="clients" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th></th>
                    <th>Type</th>
                    <th>Telephone</th>
                    <th>Email</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-client>
                <tr [routerLink]="['/clients', client.id]" class="cursor-pointer">
                    <td>{{ client.id }}</td>
                    <td>
                        <a>
                            {{ client.clientType == ClientType.PRIVATE ? client.firstName + " " + client.lastName : client.companyName }}
                        </a>
                    </td>
                    <td>
                        <button pButton pRipple class="p-button-text p-button-plain p-0" icon="pi pi-times" (click)="deleteClientClick($event, client)" size="small"></button>
                    </td>
                    <td>{{ getLabelFromType(client.clientType) }}</td>
                    <td>{{ client?.contact ? client?.contact?.telephone : null }}</td>
                    <td>{{ client?.contact ? client?.contact?.email : null }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div wrapper-buttons>
        <p-button icon="pi pi-plus" (click)="onClick()" [rounded]="true" class="add-button transition-colors transition-duration-300"></p-button>
    </div>
    <add-client [visible]="showComponent" (notify)="onNotify($event)"></add-client>
</wrapper>



