<wrapper [title]="pageTitle">
    <div wrapper-body>
        <p-table [value]="suppliers">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Category</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-supplier>
                <tr>
                    <td>{{supplier.id}}</td>
                    <td>{{supplier.name}}</td>
                    <td>{{getLabelFromCategory(supplier.category)}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div wrapper-buttons>

    </div>
</wrapper>
