<wrapper [title]="pageTitle">
    <div wrapper-body>
        <p-table [value]="suppliers">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Category</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-supplier>
                <tr [routerLink]="['/suppliers', supplier.id]" class="cursor-pointer">
                    <td>{{ supplier.id }}</td>
                    <td>{{ supplier.name }}</td>
                    <td>{{ getLabelFromCategory(supplier.category) }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div wrapper-buttons>
        <p-button icon="pi pi-plus" (click)="onClick()" [rounded]="true" class="add-button transition-colors transition-duration-300"></p-button>
    </div>
    <add-supplier [visible]="showAddComponent" (notify)="onNotify($event)"></add-supplier>
</wrapper>
