<p-table [value]="projects!" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
            <th>Type</th>
            <th>Architect</th>
            <th>Client</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project>
        <tr [routerLink]="['/projects', project.id]" class="cursor-pointer">
            <td>{{ project.id }}</td>
            <td>{{ project.name}}</td>
            <td>
                <button pButton pRipple class="p-button-text p-button-plain p-0" icon="pi pi-times" (click)="deleteProject($event, project.name, project.id)" size="small"></button>
            </td>
            <td>{{ getProjectTypeLabel(project.type) }}</td>
            <td>{{ project.architect.firstName + ' ' + project.architect.lastName}}</td>
            <td>{{ getClientName(project.client) }}</td>
            <td>{{ getProjectStatusLabel(project.status) }}</td>
        </tr>
    </ng-template>
</p-table>

