<p-table [value]="projects!" [rowHover]="true" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Architect</th>
            <th>Name</th>
            <th></th>
            <th>Type</th>
            <th>Client</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project>
        <tr [routerLink]="['/projects', project.id]" class="cursor-pointer">
            <td>{{ project.id }}</td>
            <td class="text-center">
                <div class="flex items-center justify-content-center gap-2">
                    <p-avatar [label]="getArchitectInitials(project.architect)" shape="circle" styleClass="bg-primary text-white"></p-avatar>
                    <span>{{ getArchitectName(project.architect) }}</span>
                </div>
            </td>
            <td>{{ project.name}}</td>
            <td>
                <button pButton pRipple class="p-button-text p-button-plain p-0" icon="pi pi-times" (click)="deleteProject($event, project.name, project.id)" size="small"></button>
            </td>
            <td>{{ getProjectTypeLabel(project.type) }}</td>
            <td>{{ getClientName(project.client) }}</td>
            <td>{{ getProjectStatusLabel(project.status) }}</td>
        </tr>
    </ng-template>
</p-table>
