<wrapper [title]="'Projects'">
    <div wrapper-body>
        <p-table [value]="projects" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Architect</th>
                    <th>Client</th>
                    <th>Status</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-project>
                <tr>
                    <td>{{ project.id }}</td>
                    <td>{{ project.name}}</td>
                    <td>{{ getProjectTypeLabel(project.type) }}</td>
                    <td>{{ project.architect.firstName + ' ' + project.architect.lastName}}</td>
                    <td>{{ project.client.firstName + ' ' + project.client.lastName}}</td>
                    <td>{{ getProjectStatusLabel(project.status) }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</wrapper>
