<wrapper [title]="title">
    <div wrapper-body>
        <p-accordion [multiple]="true" [value]="['0', '1']">
            <form [formGroup]="projectFinancialDetailForm">
                <p-accordion-panel value="0">
                    <p-accordion-header>Financial summary</p-accordion-header>
                    <p-accordion-content>
                    <div class="p-1 ng-star-inserted border-surface">
                        <div class="grid grid-cols-12 gap-4 border-surface p-1">
                            <div class="col-span-3 p-1 grid grid-cols-12 gap-4">
                                <div class="col-span-5 text-surface-500 dark:text-surface-300 flex items-center">Gross value:</div>
                                <div class="col-span-7 flex items-center pl-6 pr-4" id="gross">{{ projectFinancialDetailForm.value.grossValue  | currency: ' ':'code':'2.2-2' }}</div>
                            </div>
                            <div class="col-span-3 p-1 grid grid-cols-12 gap-4">
                                <div class="col-span-5 text-surface-500 dark:text-surface-300 flex items-center">Nett value:</div>
                                <div class="col-span-7 flex items-center pl-6 pr-4" id="net">{{ projectFinancialDetailForm.value.netValue  | currency: ' ':'code':'2.2-2' }}</div>
                            </div>
                            <div class="col-span-3 p-1 grid grid-cols-12 gap-4">
                                <div class="col-span-5 text-surface-500 dark:text-surface-300 flex items-center">Tax:</div>
                                <div class="col-span-7 flex items-center pl-6 pr-4" id="tax">{{ projectFinancialDetailForm.value.incomeTax  | currency: ' ':'code':'2.2-2' }}</div>
                            </div>
                            <div class="col-span-3 p-1 grid grid-cols-12 gap-4">
                                <div class="col-span-5 text-surface-500 dark:text-surface-300 flex items-center">VAT:</div>
                                <div class="col-span-7 flex items-center pl-6 pr-4" id="vat">{{ projectFinancialDetailForm.value.vatTax  | currency: ' ':'code':'2.2-2' }}</div>
                            </div>
                        </div>
                    </div>
                    </p-accordion-content>
                </p-accordion-panel>
                <p-accordion-panel value="1">
                    <p-accordion-header>Financial components</p-accordion-header>
                    <p-accordion-content>
                    <div *ngIf="projectId && costs" class="p-1 ng-star-inserted border-surface">
                        <p-tabView #financeObjects [(activeIndex)]="selectedTabIndex" (onChange)="onTabChange($event)">
                            <p-tabPanel header="Costs">
                                <cost-list-shell [projectId]="projectId!" [costs]="costs"></cost-list-shell>
                            </p-tabPanel>
                            <p-tabPanel header="Installments">
                                <installment-list-shell></installment-list-shell>
                            </p-tabPanel>
                            <p-tabPanel header="Supplies">
                                <supply-list-shell [projectId]="projectId!">
                                </supply-list-shell>
                            </p-tabPanel>
                            <p-tabPanel header="Contractor Jobs">
                                <contractor-job-list-shell [projectId]="projectId!">
                                </contractor-job-list-shell>
                            </p-tabPanel>
                            <p-tabPanel header="Supervision">
                                <supervision-shell [projectId]="projectId!">
                                </supervision-shell>
                            </p-tabPanel>
                        </p-tabView>
                    </div>
                    </p-accordion-content>
                </p-accordion-panel>
            </form>
        </p-accordion>
    </div>
    <div wrapper-buttons>
        <p-button [routerLink]="['/projects', projectId]" label="Project details" size="small" severity="secondary" class="top-menu-button"/>
    </div>
</wrapper>
