<p-dialog header='header' [(visible)]="visible" appendTo="body" [modal]="true"
          [style]="{ width: '50vw', 'max-width': '800px'}"
          (onHide)="onClose()">
    <ng-template pTemplate="header">
        <div class="flex flex-column gap-2">
            <h1 class="m-0 text-900 font-semibold text-xl line-height-3">{{ header }}</h1>
        </div>
    </ng-template>
    <form [formGroup]="addCostForm">
        <div class="grid grid-nogutter surface-border pt-1 col-12">
            <div class="md:col-4 p-1">
                <label for="name" class="block mb-1 text-color text-base">Cost name</label>
                <span class="p-input-icon-left w-full">
                    <i class="pi pi-pencil"></i>
                    <input type="text" class="w-full" id="name" formControlName="name" pInputText placeholder="cost name"
                           [ngClass]="{'is-invalid': (addCostForm.get('name')?.touched || addCostForm.get('name')?.dirty) && !addCostForm.get('name')?.valid }"/>
                </span>
            </div>
            <div class="md:col-4 p-1">
                <label for="category" class="block mb-1 text-color text-base">Type</label>
                <span class="p-input-icon-left w-full">
                    <p-dropdown [options]="costCategories" optionLabel="label" optionValue="id"
                                formControlName="category" class="w-full" appendTo="body" id="category">
                    </p-dropdown>
                </span>
            </div>
            <div class="md:col-4 p-1">
                <label for="paid" class="block mb-1 text-color text-base">Paid</label>
                <span class="p-input-icon-left w-full">
                    <p-inputSwitch formControlName="paid" id="paid"></p-inputSwitch>
                </span>
            </div>
        </div>
        <div class="grid grid-nogutter surface-border pt-1 col-12 ">
            <div class="md:col-4 p-1">
                <div class="text-500 font-medium mb-1">Date</div>
                <p-calendar formControlName="date" id="date"></p-calendar>
            </div>
            <div class="md:col-4 p-1">
                <div class="text-500 font-medium mb-1">Value</div>
                <input formControlName="value" id="value" pInputText>
            </div>
            <div class="md:col-4 p-1">
                <div class="text-500 font-medium mb-1">Has Invoice</div>
                <p-inputSwitch formControlName="hasInvoice" id="hasInvoice"></p-inputSwitch>
            </div>
        </div>
        <div class="grid grid-nogutter surface-border pt-1 col-12 ">
            <div class="md:col-8 p-1">
                <div class="text-500 font-medium mb-1 h-2rem">Note2</div>
                <textarea formControlName="note" id="note" type="text" pInputTextarea rows="2"
                          [autoResize]="true" style="height: 4rem;overflow: hidden;"></textarea>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <div class="flex gap-3 justify-content-end border-top-1 surface-border pt-5">
            <p-button label="Cancel" styleClass="p-button-outlined p-button-secondary"
                      (onClick)="onCancel()"></p-button>
            <p-button label="Save" styleClass="p-button-outlined" [disabled]="!isSaveEnabled()"
                      (onClick)="onSave()"></p-button>
        </div>
    </ng-template>
</p-dialog>
