<finance-component-summary [financeComponentDataForm]="contractorsJobsSummaryForm">
    <div wrapper-list>
        <p-table [value]="contractorsJobsProjectData.contractorJobs!" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Contractor</th>
                    <th>Value</th>
                    <th class="max-w-16 text-center">Invoice</th>
                    <th class="max-w-16 text-center">Paid</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-contractorjob>
                <tr [routerLink]="['/projects', projectId, 'contractorJob', contractorjob.id]" class="cursor-pointer">
                    <td>{{ contractorjob.name }}</td>
                    <td>{{ this.contractorIdToContractorName.get(contractorjob.contractorId) }}</td>
                    <td>{{ contractorjob.value | currency: ' ':'code':'2.2-2' }}</td>
                    <td class="max-w-16 text-center">
                        <i *ngIf="contractorjob.hasInvoice" class="pi pi-check"></i>
                        <i *ngIf="!contractorjob.hasInvoice" class="pi pi-times"></i>
                    </td>
                    <td class="max-w-16 text-center">
                        <i *ngIf="contractorjob.paid" class="pi pi-check"></i>
                        <i *ngIf="!contractorjob.paid" class="pi pi-times"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</finance-component-summary>
