:root {
    // toast message
    --toast-message-maring: 0 0 0 0.8rem;
    --toast-message-width: 35rem;
    --toast-message-main-icon-width: 1.5rem;
    --toast-message-main-icon-height: 1.5rem;
    --toast-message-font-size: 0.9rem;
}
