<finance-component-summary [financeComponentDataForm]="installmentsDetailForm">
    <div wrapper-list>
        <p-table [value]="installmentProjectData.installments!" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Stage Name</th>
                    <th>Value</th>
                    <th class="max-w-16 text-center">Invoice</th>
                    <th class="max-w-16 text-center">Paid</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-installment>
                <tr [routerLink]="['/projects', projectId, 'installments', installment.id]" class="cursor-pointer">
                    <td>{{ installment.stageName }}</td>
                    <td>{{ installment.value | currency: ' ':'code':'2.2-2' }}</td>
                    <td class="max-w-16 text-center">
                        <i *ngIf="installment.hasInvoice" class="pi pi-check"></i>
                        <i *ngIf="!installment.hasInvoice" class="pi pi-times"></i>
                    </td>
                    <td class="max-w-16 text-center">
                        <i *ngIf="installment.paid" class="pi pi-check"></i>
                        <i *ngIf="!installment.paid" class="pi pi-times"></i>
                    </td>
                </tr>

            </ng-template>
        </p-table>
    </div>
</finance-component-summary>

