<p-dialog header="Add new client" [(visible)]="visible" appendTo="body" [modal]="true" [style]="{ width: '50vw'}"
          col-form-label
          (onHide)="onClose()">
    <ng-template pTemplate="header">
        <div class="flex flex-column gap-2">
            <h1 class="m-0 text-900 font-semibold line-height-3">Add new client</h1>
        </div>
    </ng-template>
    <div>
        <form [formGroup]="clientForm">
            <p-dropdown [options]="clientTypes" formControlName="clientType" optionLabel="label" optionValue="id">
            </p-dropdown>
            <div class="flex flex-column gap-3 mt-3 border-top-1 surface-border pt-2"
                 [ngSwitch]="clientForm.get('clientType')?.value">
                <div class="flex gap-3" *ngSwitchCase="ClientType.PRIVATE.toString()">
                    <div class="w-6">
                        <label for="firstName" class="block mb-1 text-color text-base">First Name</label>
                        <span class="p-input-icon-left w-full">
                            <i class="pi pi-pencil"></i>
                            <input type="text" class="w-full" id="firstName" formControlName="firstName"
                                   pInputText
                                   placeholder="first name"
                                   [ngClass]="{'is-invalid': (clientForm.get('firstName')?.touched || clientForm.get('firstName')?.dirty) && !clientForm.get('firstName')?.valid }"
                            />
                        </span>
                        <span *ngIf="(clientForm.get('firstName')?.touched || clientForm.get('firstName')?.dirty) && !clientForm.get('firstName')?.valid">
                                Please enter first name!
                        </span>
                    </div>
                    <div class="w-6">
                        <label for="lastName" class="block mb-1 text-color text-base">Last Name</label>
                        <span class="p-input-icon-left w-full">
                            <i class="pi pi-pencil"></i>
                            <input type="text" formControlName="lastName" class="w-full" id="lastName"
                                   pInputText
                                   placeholder="last name"
                                   [ngClass]="{'is-invalid': (clientForm.get('lastName')?.touched || clientForm.get('lastName')?.dirty) && !clientForm.get('lastName')?.valid }"
                            />
                        </span>
                        <span *ngIf="(clientForm.get('lastName')?.touched || clientForm.get('lastName')?.dirty) && !clientForm.get('lastName')?.valid ">
                            Please enter last name!
                        </span>
                    </div>
                </div>
                <div class="flex gap-3" *ngSwitchCase="ClientType.CORPORATE.toString()">
                    <div class="w-full">
                        <label for="companyName" class="block mb-1 text-color text-base">Company Name</label>
                        <span class="p-input-icon-left w-full">
                            <i class="pi pi-pencil"></i>
                            <input type="text" formControlName="companyName" class="w-full" id="companyName"
                                   pInputText
                                   placeholder="company name"
                                   [ngClass]="{'is-invalid': (clientForm.get('companyName')?.touched || clientForm.get('companyName')?.dirty) && !clientForm.get('companyName')?.valid }"
                            />
                        </span>
                        <span *ngIf="(clientForm.get('companyName')?.touched || clientForm.get('companyName')?.dirty) && !clientForm.get('companyName')?.valid ">
                            Please enter last name!
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex flex-column gap-3 mt-3 border-top-1 surface-border pt-2" formGroupName="contact">
                <div class="flex gap-3">
                    <div class="w-6">
                        <label for="email" class="block mb-1 text-color text-base">Email</label>
                        <span class="p-input-icon-left w-full">
                            <i class="pi pi-pencil"></i>
                            <input type="text" class="w-full" id="email" formControlName="email"
                                   pInputText
                                   placeholder="email"
                            />
                        </span>
                    </div>
                    <div class="w-6">
                        <label for="telephone" class="block mb-1 text-color text-base">Phone</label>
                        <span class="p-input-icon-left w-full">
                            <i class="pi pi-pencil"></i>
                            <input type="text" formControlName="telephone" class="w-full" id="telephone"
                                   pInputText
                                   placeholder="telephone"
                            />
                        </span>
                    </div>
                </div>
                <div formGroupName="address">
                    <div class="flex gap-3">
                        <div class="w-6">
                            <label for="city" class="block mb-1 text-color text-base">City</label>
                            <span class="p-input-icon-left w-full">
                            <i class="pi pi-pencil"></i>
                            <input type="text" class="w-full" id="city" formControlName="city"
                                   pInputText
                                   placeholder="city"
                            />
                        </span>
                        </div>
                        <div class="w-6">
                            <label for="postCode" class="block mb-1 text-color text-base">Post code</label>
                            <span class="p-input-icon-left w-full">
                            <i class="pi pi-pencil"></i>
                            <input type="text" formControlName="postCode" class="w-full" id="postCode"
                                   pInputText
                                   placeholder="post code"
                            />
                        </span>
                        </div>
                    </div>
                    <div class="flex gap-3">
                        <div class="w-8">
                            <label for="street" class="block mb-1 text-color text-base">Street</label>
                            <span class="p-input-icon-left w-full">
                            <i class="pi pi-pencil"></i>
                            <input type="text" formControlName="street" class="w-full" id="street"
                                   pInputText
                                   placeholder="street"
                            />
                        </span>
                        </div>
                        <div class="w-2">
                            <label for="houseNumber" class="block mb-1 text-color text-base">House</label>
                            <span class="p-input-icon-left w-full">
                            <i class="pi pi-pencil"></i>
                            <input type="text" formControlName="houseNumber" class="w-full" id="houseNumber"
                                   pInputText
                                   placeholder="house"
                            />
                        </span>
                        </div>
                        <div class="w-2">
                            <label for="flatNumber" class="block mb-1 text-color text-base">Flat</label>
                            <span class="p-input-icon-left w-full">
                            <i class="pi pi-pencil"></i>
                            <input type="text" formControlName="flatNumber" class="w-full" id="flatNumber"
                                   pInputText
                                   placeholder="flat"
                            />
                        </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="flex flex-column gap-3 mt-3 border-top-1 surface-border pt-2">
                <div class="flex gap-3">
                    <div class="w-full">
                        <label for="note" class="block mb-1 text-color text-base">Note</label>
                        <span class="p-input-icon-left w-full">
                            <i class="pi pi-pencil"></i>
                            <textarea rows="5" cols="30" pInputTextarea type="text" formControlName="note"
                                      class="w-full" id="note"
                                      pInputText
                                      placeholder="note"
                            ></textarea>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <div class="flex gap-3 justify-content-end border-top-1 surface-border pt-5">
            <p-button label="Cancel" styleClass="p-button-outlined p-button-secondary"
                      (onClick)="onCancel()"></p-button>
            <p-button label="Save" styleClass="p-button-outlined" [disabled]="!isSaveEnabled()"
                      (onClick)="onSave()"></p-button>
        </div>
    </ng-template>
</p-dialog>
