<wrapper [title]="'Projects'">
    <div wrapper-body>
        <project-list [projects]="projects$ | async"
                      [projectTypes]="projectTypes$ | async"
                      [projectStatuses]="projectStatuses$ | async">
        </project-list>
    </div>
    <div wrapper-buttons>
        <p-button icon="pi pi-plus" (click)="onClick()" [rounded]="true" class="add-button transition-colors transition-duration-300"></p-button>
    </div>
    <app-add-project [visible]="showComponent" (notify)="onNotify($event)" (refreshProjects)="refreshProjects()"></app-add-project>
</wrapper>




