<div class="flex flex-column lg:flex-row lg:justify-content-end align-items-center justify-content-end">
    <p-button icon="pi pi-plus" (onClick)="onAddTask()" [rounded]="true" class="add-button transition-colors transition-duration-300"></p-button>
</div>
<div class="pt-2">
    <task-list
            [tasks]="tasks"
            [taskTypes]="$taskTypes()"
            [taskStatuses]="$taskStatuses()"
            [projectId]="projectId"
            [stageId]="stageId"
            (deleteTaskEVent)="onDelete($event)">
    </task-list>
    <p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" class="overlay-dialog"></p-confirmDialog>
</div>
<add-task
        [visible]="showAddTaskComponent"
        [projectId]="projectId"
        [stageId]="stageId"
        (notify)="onNotify($event)"
>
</add-task>
