<wrapper [title]="clientName!">
    <div wrapper-body>
        <p-accordion [multiple]="true" [value]="['0']">
            <form [formGroup]="clientDetailsForm">
                <p-accordion-panel value="0">
                    <p-accordion-header>Client details</p-accordion-header>
                    <p-accordion-content>
                    <div class="p-2" [ngSwitch]="clientDetailsForm.value.clientType">
                        <div class="flex flex-col lg:flex-row lg:justify-end items-center justify-end">
                            <p-button icon="pi pi-arrow-down" [disabled]="!isFormChanged()" (onClick)="onSave()" [outlined]="true" [rounded]="true" class="update-button transition-colors duration-300"></p-button>
                            <p-button icon="pi pi-times" [outlined]="true" [rounded]="true" (onClick)="onDelete()" class="remove-button transition-colors px-1"></p-button>
                        </div>
                        <div class="grid grid-cols-12 gap-4 border-surface p-1">
                            <div class="col-span-4 p-1 grid grid-cols-12 gap-4">
                                <div class="col-span-4 text-surface-500 dark:text-surface-300 flex items-center">Client type:</div>
                                <p-select class="col-span-8 pr-4" formControlName="clientType" [options]="clientTypes!"
                                            optionLabel="label" optionValue="id"></p-select>
                            </div>
                        </div>
                        <div class="grid grid-cols-12 gap-4 border-surface p-1" *ngSwitchCase="ClientType.PRIVATE">
                            <div class="col-span-4 p-1 grid grid-cols-12 gap-4">
                                <div class="col-span-4 text-surface-500 dark:text-surface-300 flex items-center">First name:</div>
                                <div class="col-span-8 pr-4">
                                    <input formControlName="firstName" pInputText>
                                </div>
                            </div>
                            <div class="col-span-4 p-1 grid grid-cols-12 gap-4">
                                <div class="col-span-4 text-surface-500 dark:text-surface-300 flex items-center">Last name:</div>
                                <div class="col-span-8 pr-4">
                                    <input formControlName="lastName" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-12 gap-4 border-surface p-1" *ngSwitchCase="ClientType.CORPORATE">
                            <div class="col-span-6 p-1 grid grid-cols-12 gap-4">
                                <div class="col-3-custom text-surface-500 dark:text-surface-300 flex items-center">Name:</div>
                                <div class="col-span-9 pr-4">
                                    <input formControlName="companyName" pInputText>
                                </div>
                            </div>
                        </div>
                        <div formGroupName="contact">
                            <div class="grid grid-cols-12 gap-4 border-surface p-1">
                                <div class="col-span-4 p-1 grid grid-cols-12 gap-4">
                                    <div class="col-span-4 text-surface-500 dark:text-surface-300 flex items-center">Email:</div>
                                    <div class="col-span-8 pr-4">
                                        <input  formControlName="email" pInputText>
                                    </div>
                                </div>
                                <div class="col-span-4 p-1 grid grid-cols-12 gap-4">
                                    <div class="col-span-4 text-surface-500 dark:text-surface-300 flex items-center">Telephone:</div>
                                    <div class="col-span-8 pr-4">
                                        <input  formControlName="telephone" pInputText>
                                    </div>
                                </div>
                            </div>
                            <div formGroupName="address">
                                <div class="grid grid-cols-12 gap-4 border-surface p-1">
                                    <div class="col-span-4 p-1 grid grid-cols-12 gap-4">
                                        <div class="col-span-4 text-surface-500 dark:text-surface-300 flex items-center">City:</div>
                                        <div class="col-span-8 pr-4">
                                            <input  formControlName="city" pInputText>
                                        </div>
                                    </div>
                                    <div class="col-span-4 p-1 grid grid-cols-12 gap-4">
                                        <div class="col-span-4 text-surface-500 dark:text-surface-300 flex items-center">Street:</div>
                                        <div class="col-span-8 pr-4">
                                            <input  formControlName="street" pInputText>
                                        </div>
                                    </div>
                                    <div class="col-span-4 p-1 grid grid-cols-12 gap-4">
                                        <div class="col-span-4 text-surface-500 dark:text-surface-300 flex items-center">Post code:</div>
                                        <div class="col-span-8 pr-4">
                                            <input  formControlName="postCode" pInputText>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-12 gap-4 border-surface p-1">
                            <div class="col-span-12 p-1 pr-4">
                                <div class="text-surface-500 dark:text-surface-300 font-medium mb-1">Note: </div>
                                <textarea formControlName="note" type="text" pInputTextarea rows="2"
                                          [autoResize]="true"></textarea>
                            </div>
                        </div>
                    </div>
                    </p-accordion-content>
                </p-accordion-panel>
            </form>
        </p-accordion>
        <client-projects-summary-shell>
        </client-projects-summary-shell>
    </div>
</wrapper>
