<wrapper [title]="clientName!">
    <div wrapper-body>
        <p-accordion [multiple]="true">
            <form [formGroup]="clientDetailsForm">
                <p-accordionTab [selected]="true" header="Client details" class="text-900 font-medium">
                    <div class="p-2" [ngSwitch]="clientDetailsForm.value.clientType">
                        <div class="flex flex-column lg:flex-row lg:justify-content-end align-items-center justify-content-end">
                            <p-button icon="pi pi-arrow-down" [disabled]="!isFormChanged()" (onClick)="onSave()" [outlined]="true" [rounded]="true" class="update-button transition-colors transition-duration-300"></p-button>
                            <p-button icon="pi pi-times" [outlined]="true" [rounded]="true" (onClick)="onDelete()" class="remove-button transition-colors px-1"></p-button>
                        </div>
                        <div class="grid grid-nogutter surface-border p-1">
                            <div class="col-4 p-1 grid grid-nogutter">
                                <div class="col-4 text-500 flex align-items-center">Client type:</div>
                                <p-dropdown class="col-8 pr-3" formControlName="clientType" [options]="clientTypes!"
                                            optionLabel="label" optionValue="id"></p-dropdown>
                            </div>
                        </div>
                        <div class="grid grid-nogutter surface-border p-1" *ngSwitchCase="ClientType.PRIVATE">
                            <div class="col-4 p-1 grid grid-nogutter">
                                <div class="col-4 text-500 flex align-items-center">First name:</div>
                                <div class="col-8 pr-3">
                                    <input formControlName="firstName" pInputText>
                                </div>
                            </div>
                            <div class="col-4 p-1 grid grid-nogutter">
                                <div class="col-4 text-500 flex align-items-center">Last name:</div>
                                <div class="col-8 pr-3">
                                    <input formControlName="lastName" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-nogutter surface-border p-1" *ngSwitchCase="ClientType.CORPORATE">
                            <div class="col-6 p-1 grid grid-nogutter">
                                <div class="col-3-custom text-500 flex align-items-center">Name:</div>
                                <div class="col-9 pr-3">
                                    <input formControlName="companyName" pInputText>
                                </div>
                            </div>
                        </div>
                        <div formGroupName="contact">
                            <div class="grid grid-nogutter surface-border p-1">
                                <div class="col-4 p-1 grid grid-nogutter">
                                    <div class="col-4 text-500 flex align-items-center">Email:</div>
                                    <div class="col-8 pr-3">
                                        <input  formControlName="email" pInputText>
                                    </div>
                                </div>
                                <div class="col-4 p-1 grid grid-nogutter">
                                    <div class="col-4 text-500 flex align-items-center">Telephone:</div>
                                    <div class="col-8 pr-3">
                                        <input  formControlName="telephone" pInputText>
                                    </div>
                                </div>
                            </div>
                            <div formGroupName="address">
                                <div class="grid grid-nogutter surface-border p-1">
                                    <div class="col-4 p-1 grid grid-nogutter">
                                        <div class="col-4 text-500 flex align-items-center">City:</div>
                                        <div class="col-8 pr-3">
                                            <input  formControlName="city" pInputText>
                                        </div>
                                    </div>
                                    <div class="col-4 p-1 grid grid-nogutter">
                                        <div class="col-4 text-500 flex align-items-center">Street:</div>
                                        <div class="col-8 pr-3">
                                            <input  formControlName="street" pInputText>
                                        </div>
                                    </div>
                                    <div class="col-4 p-1 grid grid-nogutter">
                                        <div class="col-4 text-500 flex align-items-center">Post code:</div>
                                        <div class="col-8 pr-3">
                                            <input  formControlName="postCode" pInputText>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-nogutter surface-border p-1">
                            <div class="col-12 p-1 pr-3">
                                <div class="text-500 font-medium mb-1">Note: </div>
                                <textarea formControlName="note" type="text" pInputTextarea rows="2"
                                          [autoResize]="true"></textarea>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
            </form>
        </p-accordion>
    </div>
</wrapper>
