<wrapper [title]="'Architects'">
    <div wrapper-body>
        <p-table [value]="$architects()" [rowHover]="true" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-architect>
                <tr [routerLink]="['/architects', architect.id]" class="cursor-pointer">
                    <td>{{architect.id}}</td>
                    <td>
                        <div class="flex items-center gap-2">
                            <p-avatar [label]="getArchitectInitials(architect)" shape="circle" styleClass="bg-primary text-white"></p-avatar>
                            <span>{{architect.firstName}} {{architect.lastName}}</span>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="2">No architects found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div wrapper-buttons>
    </div>
</wrapper>
