<div class="border-bottom-1 surface-border pb-3">
    <form [formGroup]="projectCostsSummaryForm">
        <div class="grid grid-nogutter surface-border p-1">
            <div class="col-6 p-1 grid grid-nogutter">
                <div class="col-5 text-500 flex align-items-center">Count:</div>
                <div class="col-7 flex align-items-center pl-4 pr-3" id="count">{{ projectCostsSummaryForm.value.count }}</div>
            </div>
            <div class="col-6 p-1 grid grid-nogutter">
                <div class="col-5 text-500 flex align-items-center">Paid:</div>
                <div class="col-7 flex align-items-center pl-4 pr-3" id="paid">{{ projectCostsSummaryForm.value.paid }}</div>
            </div>
        </div>
        <div class="grid grid-nogutter surface-border p-1">
            <div class="col-3 p-1 grid grid-nogutter">
                <div class="col-5 text-500 flex align-items-center">Gross value:</div>
                <div class="col-7 flex align-items-center pl-4 pr-3" id="gross">{{projectCostsSummaryForm.value.grossValue  | currency: ' ':'code':'3.2-2'}}</div>
            </div>
            <div class="col-3 p-1 grid grid-nogutter">
                <div class="col-5 text-500 flex align-items-center">Nett value:</div>
                <div class="col-7 flex align-items-center pl-4 pr-3" id="net">{{projectCostsSummaryForm.value.netValue  | currency: ' ':'code':'3.2-2'}}</div>
            </div>
            <div class="col-3 p-1 grid grid-nogutter">
                <div class="col-5 text-500 flex align-items-center">Tax:</div>
                <div class="col-7 flex align-items-center pl-4 pr-3" id="tax">{{projectCostsSummaryForm.value.incomeTax  | currency: ' ':'code':'3.2-2'}}</div>
            </div>
            <div class="col-3 p-1 grid grid-nogutter">
                <div class="col-5 text-500 flex align-items-center">VAT:</div>
                <div class="col-7 flex align-items-center pl-4 pr-3" id="vat">{{projectCostsSummaryForm.value.vatTax  | currency: ' ':'code':'3.2-2'}}</div>
            </div>
        </div>
    </form>
</div>

<div class="pt-4">
    <p-table [value]="projectCostsData.costs!" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Date</th>
                <th>Value</th>
                <th>Invoice</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cost>
            <tr [routerLink]="['/projects', projectId, 'costs', cost.id]" class="cursor-pointer">
                <td>{{ cost.name }}</td>
                <td>{{ getCostCategoryLabel(cost.category) }}</td>
                <td>{{ cost.date }}</td>
                <td>{{ cost.value | currency: ' ':'code':'2.2-2' }}</td>
                <td>
                    <i *ngIf="cost.hasInvoice" class="pi pi-check"></i>
                    <i *ngIf="!cost.hasInvoice" class="pi pi-times"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
