<p-table [value]="costs!" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Date</th>
            <th>Value</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cost>
        <tr [routerLink]="['/projects', projectId, 'costs', cost.id]"  class="cursor-pointer">
            <td>{{ cost.id }}</td>
            <td>{{ cost.name }}</td>
            <td>{{ getCostCategoryLabel(cost.category) }}</td>
            <td>{{ cost.date }}</td>
            <td>{{ cost.value | currency: ' ':false:'2.2-2' }}</td>
        </tr>
    </ng-template>
</p-table>


