<div class="min-h-screen flex flex-column surface-ground">
    <p-toast></p-toast>
    <div class="surface-overlay py-3 px-4 flex align-items-center justify-content-between relative lg:static">
        <a pRipple class="cursor-pointer inline-flex align-items-center justify-content-center lg:hidden text-700" pStyleClass="#app-sidebar-12" enterClass="hidden" enterActiveClass="fadeinleft" leaveToClass="hidden" leaveActiveClass="fadeoutleft" [hideOnOutsideClick]="true">
            <i class="pi pi-bars text-4xl"></i>
        </a>
        <img src="assets/images/logo.svg" alt="Image" height="40" class="mr-0 lg:mr-6">
        <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
            <i class="pi pi-ellipsis-v text-2xl"></i>
        </a>
        <ul class="list-none p-3 lg:p-0 m-0 lg:align-items-center select-none flex-column lg:flex-row absolute hidden lg:flex lg:static surface-overlay right-0 top-100 z-1 shadow-2 lg:shadow-none">
            Personal menu placeholder
        </ul>
    </div>
    <ul class="list-none py-3 px-5 m-0 surface-section flex align-items-center font-medium overflow-x-auto border-top-1 border-bottom-1 surface-border">
        Breadcrumbs placeholder
    </ul>
    <div class="flex relative lg:static p-5 flex-auto">
        <div id="app-sidebar-12" class="surface-card hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 select-none shadow-2" style="width:280px;border-radius: 12px">
            <div class="flex flex-column h-full">
                <div class="overflow-y-auto">
                    <div class="p-3">
                        <div class="p-input-icon-left w-full">
                            <i class="pi pi-search"></i>
                            <input type="text" pInputText class="border-1 surface-border w-full" placeholder="Search" style="border-radius: 30px">
                        </div>
                    </div>
                    <ul class="list-none px-3 pb-3 pt-0 m-0" >
                        <li>
                            <div class="p-3 flex align-items-center justify-content-between text-600">
                                <span class="font-medium text-sm text-900">MENU</span>
                            </div>
                            <ul class="list-none p-0 m-0 overflow-hidden">
                                <li [routerLinkActive]="['active', 'bg-purple-50', 'text-purple-500', 'border-purple-500', 'border-right-2']">
                                    <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 transition-duration-150 transition-colors border-right-2 border-transparent" [routerLink]="'/home'">
                                        <i class="pi pi-home mr-2"></i>
                                        <span class="font-medium">Dashboard</span>
                                    </a>
                                </li>
                                <li [routerLinkActive]="['active', 'bg-purple-50', 'text-purple-500', 'border-purple-500', 'border-right-2']">
                                    <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 transition-duration-150 transition-colors border-right-2 border-transparent" [routerLink]="'/projects'">
                                        <i class="pi pi-file-edit mr-2"></i>
                                        <span class="font-medium">Projects</span>
                                    </a>
                                </li>
                                <li [routerLinkActive]="['active', 'bg-purple-50', 'text-purple-500', 'border-purple-500', 'border-right-2']">
                                    <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 transition-duration-150 transition-colors border-right-2 border-transparent" [routerLink]="'/architects'">
                                        <i class="pi pi-users mr-2"></i>
                                        <span class="font-medium">Architects</span>
                                    </a>
                                </li>
                                <li [routerLinkActive]="['active', 'bg-purple-50', 'text-purple-500', 'border-purple-500', 'border-right-2']">
                                    <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 transition-duration-150 transition-colors border-right-2 border-transparent" [routerLink]="'/clients'">
                                        <i class="pi pi-users mr-2"></i>
                                        <span class="font-medium">Clients</span>
                                    </a>
                                </li>
                                <li [routerLinkActive]="['active', 'bg-purple-50', 'text-purple-500', 'border-purple-500', 'border-right-2']">
                                    <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 transition-duration-150 transition-colors border-right-2 border-transparent" [routerLink]="'/contractors'">
                                        <i class="pi pi-users mr-2"></i>
                                        <span class="font-medium">Contractors</span>
                                    </a>
                                </li>
                                <li [routerLinkActive]="['active', 'bg-purple-50', 'text-purple-500', 'border-purple-500', 'border-right-2']">
                                    <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 transition-duration-150 transition-colors border-right-2 border-transparent" [routerLink]="'/suppliers'">
                                        <i class="pi pi-users mr-2"></i>
                                        <span class="font-medium">Suppliers</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="mt-auto border-top-1 surface-border p-3 flex justify-content-between">
                    <div>
                        Setting and login/out placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-column flex-auto">
            <div class="flex-auto lg:ml-5">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
