<div class="min-h-screen flex flex-col bg-surface-50 dark:bg-surface-950">
    <p-toast [life]="12000"></p-toast>
    <div class="bg-surface-0 dark:bg-surface-900 py-4 px-6 flex items-center justify-between relative lg:static">
        <a pRipple class="cursor-pointer inline-flex items-center justify-center lg:hidden text-surface-700 dark:text-surface-100" pStyleClass="#app-sidebar-12" enterFromClass="hidden" enterActiveClass="fadeinleft" leaveToClass="hidden" leaveActiveClass="fadeoutleft" [hideOnOutsideClick]="true">
            <i class="pi pi-bars text-4xl"></i>
        </a>
        <img src="assets/images/logo.svg" alt="Image" class="h-10 mr-0 lg:mr-12">
        <a pRipple class="cursor-pointer block lg:hidden text-surface-700 dark:text-surface-100" pStyleClass="@next" enterFromClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
            <i class="pi pi-ellipsis-v text-2xl"></i>
        </a>
        <ul class="list-none p-4 lg:p-0 m-0 lg:items-center select-none flex-col lg:flex-row absolute hidden lg:flex lg:static bg-surface-0 dark:bg-surface-900 right-0 top-full z-10 shadow lg:shadow-none">
            <li *ngIf="(authorizationService.isAuthenticated() | async) === true">
                <p-avatar [label]="getUserInitial()" shape="circle" styleClass="cursor-pointer bg-primary text-white" (click)="toggleUserMenu($event)"></p-avatar>
                <p-menu #userMenu [model]="userMenuItems" [popup]="true" styleClass="mt-2"></p-menu>
            </li>
        </ul>
    </div>
    <ul class="list-none py-4 px-8 m-0 bg-surface-0 dark:bg-surface-950 flex items-center font-medium overflow-x-auto border-t border-b border-surface">
        <p-breadcrumb class="max-w-full" [model]="breadcrumbItems">
            <ng-template pTemplate="item" let-item>
                <ng-container *ngIf="item.route; else elseBlock">
                    <a [routerLink]="item.route" class="p-menuitem-link">
                        <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
                        <span class="text-primary font-semibold">{{ item.label }}</span>
                    </a>
                </ng-container>
                <ng-template #elseBlock>
                    <a [href]="item.url">
                        <span class="text-color">{{ item.label }}</span>
                    </a>
                </ng-template>
            </ng-template>
        </p-breadcrumb>
    </ul>
    <div class="flex relative lg:static p-6 flex-auto">
        <div id="app-sidebar-12" class="bg-surface-0 dark:bg-surface-900 hidden lg:block shrink-0 absolute lg:static left-0 top-0 z-10 select-none shadow" style="width:280px;border-radius: 12px">
            <div class="flex flex-col h-full">
                <div class="overflow-y-auto">
                    <div class="p-4">
                        <div class="p-input-icon-left w-full">
                            <input type="text" pInputText class="border border-surface w-full" placeholder="Search" style="border-radius: 30px">
                        </div>
                    </div>
                    <ul class="list-none px-4 pb-4 pt-0 m-0" >
                        <li>
                            <div class="p-4 flex items-center justify-between text-surface-600 dark:text-surface-200">
                                <span class="font-medium text-sm text-surface-900 dark:text-surface-0">MENU</span>
                            </div>
                            <ul class="list-none p-0 m-0 overflow-hidden">
                                <li [routerLinkActive]="['active', 'bg-purple-50', 'text-purple-500', 'border-purple-500', 'border-right-2']">
                                    <a pRipple class="flex items-center cursor-pointer p-4 text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors border-r-2 border-transparent" [routerLink]="'/home'">
                                        <i class="pi pi-home mr-2"></i>
                                        <span class="font-medium">Dashboard</span>
                                    </a>
                                </li>
                                <li [routerLinkActive]="['active', 'bg-purple-50', 'text-purple-500', 'border-purple-500', 'border-right-2']">
                                    <a pRipple class="flex items-center cursor-pointer p-4 text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors border-r-2 border-transparent" [routerLink]="'/projects'">
                                        <i class="pi pi-file-edit mr-2"></i>
                                        <span class="font-medium">Projects</span>
                                    </a>
                                </li>
                                <li [routerLinkActive]="['active', 'bg-purple-50', 'text-purple-500', 'border-purple-500', 'border-right-2']">
                                    <a pRipple class="flex items-center cursor-pointer p-4 text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors border-r-2 border-transparent" [routerLink]="'/architects'">
                                        <i class="pi pi-users mr-2"></i>
                                        <span class="font-medium">Architects</span>
                                    </a>
                                </li>
                                <li [routerLinkActive]="['active', 'bg-purple-50', 'text-purple-500', 'border-purple-500', 'border-right-2']">
                                    <a pRipple class="flex items-center cursor-pointer p-4 text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors border-r-2 border-transparent" [routerLink]="'/clients'">
                                        <i class="pi pi-users mr-2"></i>
                                        <span class="font-medium">Clients</span>
                                    </a>
                                </li>
                                <li [routerLinkActive]="['active', 'bg-purple-50', 'text-purple-500', 'border-purple-500', 'border-right-2']">
                                    <a pRipple class="flex items-center cursor-pointer p-4 text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors border-r-2 border-transparent" [routerLink]="'/contractors'">
                                        <i class="pi pi-users mr-2"></i>
                                        <span class="font-medium">Contractors</span>
                                    </a>
                                </li>
                                <li [routerLinkActive]="['active', 'bg-purple-50', 'text-purple-500', 'border-purple-500', 'border-right-2']">
                                    <a pRipple class="flex items-center cursor-pointer p-4 text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors border-r-2 border-transparent" [routerLink]="'/suppliers'">
                                        <i class="pi pi-users mr-2"></i>
                                        <span class="font-medium">Suppliers</span>
                                    </a>
                                </li>
                                <li [routerLinkActive]="['active', 'bg-purple-50', 'text-purple-500', 'border-purple-500', 'border-right-2']">
                                    <a pRipple class="flex items-center cursor-pointer p-4 text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors border-r-2 border-transparent" [routerLink]="'/financial-report'">
                                        <i class="pi pi-chart-bar mr-2"></i>
                                        <span class="font-medium">Financial Report</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="mt-auto border-t border-surface p-4 flex justify-between">
                    <div *ngIf="(authorizationService.isAuthenticated() | async) === false" [routerLinkActive]="['active', 'bg-purple-50', 'text-purple-500', 'border-purple-500', 'border-right-2']">
                        <a pRipple class="flex items-center cursor-pointer p-4 text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors border-r-2 border-transparent" (click)="login()">
                            <i class="pi pi-sign-in mr-2"></i>
                            <span class="font-medium">Login</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col flex-auto">
            <div class="flex-auto lg:ml-6">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
