<wrapper *ngIf="task" [title]="task.name + ',&nbsp;'" [secondaryTitle]="resolvedTypeLabel">
    <div wrapper-body>
        <p-accordion [multiple]="true">
            <form [formGroup]="taskDetailForm">
                <p-accordionTab [selected]="true" header="Task details" class="text-900 font-medium">
                    <div class="p-2">
                        <div class="flex flex-column lg:flex-row lg:justify-content-end align-items-center justify-content-end">
                            <p-button icon="pi pi-arrow-down" [disabled]="!isUpdated()" [outlined]="true" [rounded]="true" (onClick)="onSave()" class="update-button transition-colors transition-duration-300 px-1"></p-button>
                            <p-button icon="pi pi-times" [outlined]="true" [rounded]="true" (onClick)="onDelete()" class="remove-button transition-colors transition-duration-300 px-1"></p-button>
                        </div>
                        <div class="grid grid-nogutter surface-border  p-1 ">
                            <div class="md:col-4 p-1">
                                <div class="text-500 font-medium ">Task name</div>
                                <input formControlName="name" id="name" pInputText>
                            </div>
                            <div class="md:col-4 p-1">
                                <div class="text-500 font-medium ">Type</div>
                                <p-dropdown formControlName="type" [options]="taskTypes!"
                                            optionLabel="label" optionValue="id"></p-dropdown>
                            </div>
                            <div class="md:col-4 p-1">
                                <div class="text-500 font-medium ">Status</div>
                                <p-dropdown formControlName="status" [options]="availableTaskStatuses"
                                            optionLabel="label" optionValue="id"></p-dropdown>

                            </div>
                        </div>
                        <div class="grid grid-nogutter surface-border  p-1 ">
                            <div class="md:col-6 p-1">
                                <div class="text-500 font-medium ">Start date</div>
                                <p-calendar formControlName="startDate" id="startDate" dateFormat="yy-mm-dd"></p-calendar>
                            </div>
                            <div class="md:col-6 p-1">
                                <div class="text-500 font-medium ">End date</div>
                                <p-calendar formControlName="endDate" id="endDate" dateFormat="yy-mm-dd"></p-calendar>
                            </div>
                        </div>
                        <div class="grid grid-nogutter surface-border  p-1 ">
                            <div class="md:col-12 p-1">
                                <div class="text-500 font-medium ">Note</div>
                                <textarea formControlName="note" id="note" type="text" pInputTextarea rows="2"
                                          [autoResize]="true"></textarea>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
            </form>
        </p-accordion>
    </div>
    <div wrapper-buttons>
    </div>
</wrapper>
