<wrapper *ngIf="task" [title]="task.name + ',&nbsp;'" [secondaryTitle]="resolvedTypeLabel">
    <div wrapper-body>
        <p-accordion [multiple]="true" [value]="['0']">
            <form [formGroup]="taskDetailForm">
                <p-accordion-panel value="0">
                    <p-accordion-header>Task details</p-accordion-header>
                    <p-accordion-content>
                    <div class="p-2">
                        <div class="flex flex-col lg:flex-row lg:justify-end items-center justify-end">
                            <p-button icon="pi pi-arrow-down" [disabled]="!isUpdated()" [outlined]="true" [rounded]="true" (onClick)="onSave()" class="update-button transition-colors duration-300 px-1"></p-button>
                            <p-button icon="pi pi-times" [outlined]="true" [rounded]="true" (onClick)="onDelete()" class="remove-button transition-colors duration-300 px-1"></p-button>
                        </div>
                        <div class="grid grid-cols-12 gap-4 border-surface p-1">
                            <div class="md:col-span-4 p-1">
                                <div class="text-surface-500 dark:text-surface-300 font-medium">Task name</div>
                                <input formControlName="name" id="name" pInputText>
                            </div>
                            <div class="md:col-span-4 p-1">
                                <div class="text-surface-500 dark:text-surface-300 font-medium">Type</div>
                                <p-select formControlName="type" [options]="taskTypes!"
                                            optionLabel="label" optionValue="id"></p-select>
                            </div>
                            <div class="md:col-span-4 p-1">
                                <div class="text-surface-500 dark:text-surface-300 font-medium">Status</div>
                                <p-select formControlName="status" [options]="availableTaskStatuses"
                                            optionLabel="label" optionValue="id"></p-select>

                            </div>
                            <div class="md:col-span-4 p-1">
                                <div class="text-surface-500 dark:text-surface-300 font-medium">Architect</div>
                                <p-select formControlName="architectId" [options]="architects!"
                                            optionLabel="firstName" optionValue="id">
                                    <ng-template pTemplate="selectedItem" let-architect>
                                        <span>{{architect.firstName}} {{architect.lastName}}</span>
                                    </ng-template>
                                    <ng-template pTemplate="item" let-architect>
                                        <span>{{architect.firstName}} {{architect.lastName}}</span>
                                    </ng-template>
                                </p-select>
                            </div>
                        </div>
                        <div class="grid grid-cols-12 gap-4 border-surface p-1">
                            <div class="md:col-span-6 p-1">
                                <div class="text-surface-500 dark:text-surface-300 font-medium">Start date</div>
                                <p-datePicker formControlName="startDate" id="startDate" dateFormat="yy-mm-dd"></p-datePicker>
                            </div>
                            <div class="md:col-span-6 p-1">
                                <div class="text-surface-500 dark:text-surface-300 font-medium">End date</div>
                                <p-datePicker formControlName="endDate" id="endDate" dateFormat="yy-mm-dd"></p-datePicker>
                            </div>
                        </div>
                        <div class="grid grid-cols-12 gap-4 border-surface p-1">
                            <div class="md:col-span-12 p-1">
                                <div class="text-surface-500 dark:text-surface-300 font-medium">Note</div>
                                <textarea formControlName="note" id="note" type="text" pInputTextarea rows="2"
                                          [autoResize]="true"></textarea>
                            </div>
                        </div>
                    </div>
                    </p-accordion-content>
                </p-accordion-panel>
            </form>
        </p-accordion>
    </div>
    <div wrapper-buttons>
    </div>
</wrapper>
