# list of environment variables that has to be provided for each env
# name of the environment can be used then when calling script for composing environment
FE_PORT="1234"
BASE_URL="http://backend.com"

AUTH0_DOMAIN="auth0-domain.com"
AUTH0_FE_CLIENT_ID="auth0clientId"
AUTH0_AUDIENCE="Name-Of-Audience-API"
