<wrapper [title]="'Supervision Visit - ' + (supervisionVisit?.dateOfVisit | date:'yyyy-MM-dd')">
    <div wrapper-body>
        <p-accordion [multiple]="true" [value]="['0']">
            <p-accordion-panel value="0">
                <p-accordion-header>Visit details</p-accordion-header>
                <p-accordion-content>
                <form [formGroup]="visitDetailForm">
                    <div class="p-2">
                        <div class="flex flex-col lg:flex-row lg:justify-end items-center justify-end">
                            <p-button icon="pi pi-arrow-down" [disabled]="!isFormChanged()" (onClick)="onSave()" [outlined]="true" [rounded]="true" class="update-button transition-colors duration-300"></p-button>
                            <p-button icon="pi pi-times" [outlined]="true" [rounded]="true" (onClick)="onDelete()" class="remove-button transition-colors px-1"></p-button>
                        </div>
                        <div class="grid grid-cols-12 gap-4 border-surface p-1">
                            <div class="md:col-span-4 p-1">
                                <div class="text-surface-500 dark:text-surface-300 font-medium">Date of Visit</div>
                                <div class="col-span-8 pr-4">
                                    <p-datePicker formControlName="dateOfVisit" id="dateOfVisit" dateFormat="yy-mm-dd" appendTo="body"></p-datePicker>
                                </div>
                            </div>
                            <div class="md:col-span-4 p-1">
                                <div class="text-surface-500 dark:text-surface-300 font-medium">Hours Count</div>
                                <div class="col-span-8 pr-4">
                                    <p-inputNumber formControlName="hoursCount" id="hoursCount" [min]="0" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="2"></p-inputNumber>
                                </div>
                            </div>
                            <div class="md:col-span-4 p-1">
                                <div class="text-surface-500 dark:text-surface-300 font-medium">Payable</div>
                                <div class="col-span-8 pr-4">
                                    <p-toggleSwitch formControlName="payable" id="payable"></p-toggleSwitch>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                </p-accordion-content>
            </p-accordion-panel>
        </p-accordion>
    </div>
    <div wrapper-buttons>
    </div>
</wrapper>
