<p-accordion value="0">
    <p-accordion-panel value="0">
        <p-accordion-header>Client projects</p-accordion-header>
        <p-accordion-content>
        <div class="border-b border-surface">
            <form [formGroup]="clientProjectsSummaryForm">
                <div class="bg-surface-0 dark:bg-surface-950">
                    <div class="grid grid-cols-12 gap-4 border-surface p-1">
                        <div class="col-span-6 p-1 grid grid-cols-12 gap-4">
                            <div class="col-span-5 text-surface-500 dark:text-surface-300 flex items-center">Count:</div>
                            <div class="col-span-7 flex items-center pl-6 pr-4" id="count">{{ clientProjectsSummaryForm.value.count }}</div>
                        </div>
                        <div class="col-span-6 p-1 grid grid-cols-12 gap-4">
                            <div class="col-span-5 text-surface-500 dark:text-surface-300 flex items-center">Value:</div>
                            <div class="col-span-7 flex items-center pl-6 pr-4" id="paid">{{ clientProjectsSummaryForm.value.totalValue | currency: ' ':'code':'2.2-2' }}</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="pt-6">
            <p-table [value]="clientProjectsSummary?.projects!" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-project>
                    <tr [routerLink]="['/projects', project.id]" class="cursor-pointer">
                        <td>{{ project.name }}</td>
                        <td class="cell-right">{{ project.value | currency: ' ':'code':'2.2-2' }}</td>
                        <td>{{ getProjectTypeLabel(project.type) }}</td>
                        <td>{{ getProjectStatusLabel(project.status) }}</td>
                        <td>{{ project.startDate }}</td>
                        <td>{{ project.endDate }}</td>
                    </tr>

                </ng-template>
            </p-table>
        </div>
        </p-accordion-content>
    </p-accordion-panel>

</p-accordion>

