<p-dialog header='header' [(visible)]="visible" appendTo="body" [modal]="true"
          [style]="{ width: '50vw', 'max-width': '800px'}"
          (onHide)="onClose()">
    <ng-template pTemplate="header">
        <div class="flex flex-column gap-2">
            <h1 class="m-0 text-900 font-semibold line-height-3">{{header}}</h1>
        </div>
    </ng-template>
    <div>
        <form [formGroup]="addProjectForm">
            <div class="flex flex-column gap-3 mt-3 border-top-1 surface-border pt-2">
                <div class="flex gap-3">
                    <div class="w-6">
                        <label for="name" class="block  text-color text-base">Project name</label>
                        <span class="p-input-icon-left w-full">
                            <input type="text" class="w-full" id="name" formControlName="name"
                                   pInputText placeholder="project name"
                                   [ngClass]="{'is-invalid': (addProjectForm.get('name')?.touched || addProjectForm.get('name')?.dirty) && !addProjectForm.get('name')?.valid }"
                            />
                        </span>
                    </div>
                    <div class="w-6">
                        <label for="type" class="block  text-color text-base">Type</label>
                        <span style="width: 100%">
                            <p-dropdown [options]="$projectTypes()" optionLabel="label" optionValue="id"
                                        formControlName="type" class="w-full" appendTo="body" id="type">
                            </p-dropdown>
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex flex-column gap-3 mt-3 border-top-1 surface-border pt-2">
                <div class="flex gap-3">
                    <div class="w-6">
                        <label for="client" class="block  text-color text-base w-full">Client</label>
                        <p-dropdown [options]="$clientsForm()" optionLabel="resolvedName" optionValue="id"
                                    formControlName="clientId" class="w-full" appendTo="body" id="client">
                        </p-dropdown>
                    </div>
                    <div class="w-6">
                        <label for="architect" class="block  text-color text-base w-full">Architect</label>
                        <p-dropdown [options]="$architectsModel()!" optionLabel="resolvedName" optionValue="id"
                                    formControlName="architectId" appendTo="body" id="architect">
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div class="flex flex-column gap-3 mt-3 border-top-1 surface-border pt-2">
                <div class="flex gap-3">
                    <div class="w-full">
                        <label for="offerValue" class="block  text-color text-base">Value</label>
                        <span class="p-input-icon-left w-full">
                                <input type=number step=0.01 class="w-full" id="offerValue" formControlName="offerValue"
                                       pInputText
                                       placeholder="0.0"
                                       [ngClass]="{'is-invalid': (addProjectForm.get('offerValue')?.touched || addProjectForm.get('offerValue')?.dirty) && !addProjectForm.get('offerValue')?.valid }"
                                />
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <div class="flex gap-3 justify-content-end border-top-1 surface-border pt-5">
            <p-button label="Cancel" styleClass="p-button-outlined p-button-secondary"
                      (onClick)="onCancel()"></p-button>
            <p-button label="Save" styleClass="p-button-outlined" [disabled]="!isSaveEnabled()"
                      (onClick)="onSave()"></p-button>
        </div>
    </ng-template>
</p-dialog>
