<p-dialog header="header" [(visible)]="visible" appendTo="body" [modal]="true"
          [style]="{ width: '50vw', 'max-width': '800px'}"
          (onHide)="onClose()">
    <ng-template pTemplate="header">
        <div class="flex flex-col gap-2">
            <h1 class="m-0 text-surface-900 dark:text-surface-0 font-semibold leading-normal">{{ header }}</h1>
        </div>
    </ng-template>
    <form [formGroup]="addStageForm">
        <div class="flex flex-col gap-4 mt-4 border-t border-surface pt-2">
            <div class="flex gap-4">
                <div class="w-6/12">
                    <label for="name" class="block text-color text-base top-label">Stage name</label>
                    <span class="p-input-icon-left w-full">
                        <input type="text" class="w-full" id="name" formControlName="name"
                               pInputText placeholder="stage name"
                               [ngClass]="{'is-invalid': (addStageForm.get('name')?.touched || addStageForm.get('name')?.dirty) && !addStageForm.get('name')?.valid }"/>
                    </span>
                </div>
                <div class="w-6/12">
                    <label for="type" class="block text-color text-base top-label">Type</label>
                    <p-select [options]="$stageTypes()" optionLabel="label" optionValue="id"
                              formControlName="type" class="w-full" appendTo="body" id="type">
                    </p-select>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-4 mt-4 border-t border-surface pt-2">
            <div class="flex gap-4">
                <div class="w-6/12">
                    <label for="architect" class="block text-color text-base top-label">Architect</label>
                    <p-select [options]="$architects()" optionLabel="firstName" optionValue="id"
                              formControlName="architectId" class="w-full" appendTo="body" id="architect">
                        <ng-template pTemplate="selectedItem" let-architect>
                            <span>{{ architect.firstName }} {{ architect.lastName }}</span>
                        </ng-template>
                        <ng-template pTemplate="item" let-architect>
                            <span>{{ architect.firstName }} {{ architect.lastName }}</span>
                        </ng-template>
                    </p-select>
                </div>
                <div class="w-6/12">
                    <label for="deadline" class="block text-color text-base top-label">Deadline</label>
                    <p-datePicker formControlName="deadline" id="deadline" dateFormat="yy-mm-dd"
                                  styleClass="w-full" appendTo="body"></p-datePicker>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-4 mt-4 border-t border-surface pt-2">
            <div class="w-full">
                <label for="note" class="block text-color text-base top-label">Note</label>
                <textarea formControlName="note" id="note" type="text" pInputTextarea rows="2"
                          [autoResize]="true"></textarea>
            </div>
        </div>
        <div class="flex flex-col gap-4 mt-4 border-t border-surface pt-2">
            <div class="flex items-center gap-3">
                <label for="hasInstallment" class="text-color text-base top-label">Installment</label>
                <p-toggleSwitch formControlName="hasInstallment" id="hasInstallment"></p-toggleSwitch>
            </div>
            @if (addStageForm.get('hasInstallment')?.value) {
                <div class="flex gap-4">
                    <div class="w-6/12">
                        <label for="installmentValue" class="block text-color text-base top-label">Value</label>
                        <p-inputNumber formControlName="installmentValue" id="installmentValue" mode="decimal"
                                       [minFractionDigits]="2" [maxFractionDigits]="2"
                                       styleClass="w-full" inputStyleClass="w-full"></p-inputNumber>
                    </div>
                    <div class="w-6/12">
                        <label for="hasInvoice" class="block text-color text-base top-label">Has invoice</label>
                        <p-toggleSwitch formControlName="hasInvoice" id="hasInvoice"></p-toggleSwitch>
                    </div>
                </div>
                <div class="flex gap-4">
                    <div class="w-6/12">
                        <label for="paid" class="block text-color text-base top-label">Paid</label>
                        <p-toggleSwitch formControlName="paid" id="paid"></p-toggleSwitch>
                    </div>
                    @if (addStageForm.get('paid')?.value) {
                        <div class="w-6/12">
                            <label for="paymentDate" class="block text-color text-base top-label">Payment date</label>
                            <p-datePicker formControlName="paymentDate" id="paymentDate" dateFormat="yy-mm-dd"
                                          styleClass="w-full" appendTo="body"></p-datePicker>
                        </div>
                    }
                </div>
            }
        </div>
    </form>
    <ng-template pTemplate="footer">
        <div class="flex gap-4 justify-end border-t border-surface pt-8">
            <p-button label="Cancel" styleClass="p-button-outlined p-button-secondary"
                      (onClick)="onCancel()"></p-button>
            <p-button label="Save" styleClass="p-button-outlined" [disabled]="!isSaveEnabled()"
                      (onClick)="onSave()"></p-button>
        </div>
    </ng-template>
</p-dialog>
