<supervision
        (notify)="onClickAdd($event)"
        (notifyAddVisit)="onClickAddVisit()"
        [supervision]="supervisionStore.supervision()"
        [supervisionVisits]="$supervisionVisits()"
        [projectId]="projectId"
        [supervisionId]="supervisionStore.supervisionId()!">
</supervision>
<add-supervision
        [projectId]="projectId"
        [visible]="showAddSupervisionDialog"
        (notify)="onNotifyAddSupervision($event)">
</add-supervision>
<add-supervision-visit
        *ngIf="supervisionStore.supervisionId()"
        [supervisionId]="supervisionStore.supervisionId()!"
        [visible]="showAddSupervisionVisitDialog"
        (notify)="onNotifyAddSupervisionVisit($event)">
</add-supervision-visit>
