<project-detail [project]="$project()"
                [architects]="architects$ | async"
                [projectStatuses]="$projectStatuses()"
                [contractStatuses]="$contractStatuses()"
                [projectTypes]="$projectTypes()"
                (updateProjectEvent)="onUpdateProject($event)"
                (removeProjectEvent)="onRemoveProject($event)"
                (updateContractStatusEvent)="onContractStatusUpdate($event)"
                (updateContractEvent)="onContractUpdate($event)">

</project-detail>
