<p-dialog header="Add Supervision Visit" [(visible)]="visible" appendTo="body" [modal]="true"
          [style]="{ width: '50vw', 'max-width': '600px'}"
          (onHide)="onClose()">
    <ng-template pTemplate="header">
        <div class="flex flex-column gap-2">
            <h1 class="m-0 text-900 font-semibold line-height-3">{{ header }}</h1>
        </div>
    </ng-template>
    <form [formGroup]="addSupervisionVisitForm">
        <div class="grid grid-nogutter surface-border p-1">
            <div class="md:col-4 p-1">
                <div class="text-500 font-medium">Date of Visit</div>
                <p-calendar formControlName="dateOfVisit" id="dateOfVisit"
                            dateFormat="yy-mm-dd" appendTo="body">
                </p-calendar>
            </div>
            <div class="md:col-4 p-1">
                <div class="text-500 font-medium">Hours Count</div>
                <p-inputNumber formControlName="hoursCount" id="hoursCount"
                               mode="decimal" [minFractionDigits]="1" [maxFractionDigits]="2"
                               [min]="0">
                </p-inputNumber>
            </div>
            <div class="md:col-4 p-1">
                <div class="text-500 font-medium">Payable</div>
                <p-inputSwitch formControlName="payable" id="payable"></p-inputSwitch>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <div class="flex gap-3 justify-content-end border-top-1 surface-border pt-5">
            <p-button label="Cancel" styleClass="p-button-outlined p-button-secondary"
                      (onClick)="onCancel()"></p-button>
            <p-button label="Save" styleClass="p-button-outlined" [disabled]="!isSaveEnabled()"
                      (onClick)="onSave()"></p-button>
        </div>
    </ng-template>
</p-dialog>
