<p-dialog header="Add Supervision Visit" [(visible)]="visible" appendTo="body" [modal]="true"
          [style]="{ width: '50vw', 'max-width': '800px'}"
          (onHide)="onClose()">
    <ng-template pTemplate="header">
        <div class="flex flex-col gap-2">
            <h1 class="m-0 text-surface-900 dark:text-surface-0 font-semibold leading-normal">{{ header }}</h1>
        </div>
    </ng-template>
    <form [formGroup]="addSupervisionVisitForm">
        <div class="flex flex-col gap-4 mt-4 border-t border-surface pt-2">
            <div class="flex gap-4">
                <div class="w-6/12">
                    <label for="dateOfVisit" class="block text-color text-base top-label">Date of visit</label>
                    <p-datePicker formControlName="dateOfVisit" id="dateOfVisit"
                                  dateFormat="yy-mm-dd" styleClass="w-full" appendTo="body">
                    </p-datePicker>
                </div>
                <div class="w-6/12">
                    <label for="hoursCount" class="block text-color text-base top-label">Hours count</label>
                    <p-inputNumber formControlName="hoursCount" id="hoursCount"
                                   mode="decimal" [minFractionDigits]="1" [maxFractionDigits]="2"
                                   [min]="0" styleClass="w-full" inputStyleClass="w-full">
                    </p-inputNumber>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-4 mt-4 border-t border-surface pt-2">
            <div class="flex gap-4">
                <div class="w-6/12">
                    <label for="payable" class="block text-color text-base top-label">Payable</label>
                    <p-toggleSwitch formControlName="payable" id="payable"></p-toggleSwitch>
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <div class="flex gap-4 justify-end border-t border-surface pt-8">
            <p-button label="Cancel" styleClass="p-button-outlined p-button-secondary"
                      (onClick)="onCancel()"></p-button>
            <p-button label="Save" styleClass="p-button-outlined" [disabled]="!isSaveEnabled()"
                      (onClick)="onSave()"></p-button>
        </div>
    </ng-template>
</p-dialog>
