@import '../node_modules/primeflex/primeflex.min.css';

body {
    background: var(--surface-ground);
}

clients-list p-confirmDialog .p-component-overlay {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.card {
    background: var(--surface-section);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 24px 36px rgba(0, 0, 0, 0.04);
}

.p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 0.75rem !important;
}

.p-accordion .p-accordion-content {
    padding: 1rem !important;
}

input {
    max-width: 100% !important;
}

textarea {
    min-height: 4rem !important;
}

.p-button.p-button-icon-only.p-button-rounded {
    width: 2rem;
    height: 2rem;
    font-weight: bold;
    border: 0px;
}

.add-button button {
    background: var(--green-600);
    color: white;
}

.add-button:hover button {
    background: var(--green-700);
}

.update-button button {
    background: var(--blue-600);
    color: white;
}

.update-button:hover button {
    background: var(--blue-700);
}
