@import "tailwindcss";
@plugin "tailwindcss-primeui";
/* Disable Tailwind dark mode variant - dark mode is not supported */
@variant dark (&:where(.dark-mode-disabled, .dark-mode-disabled *));


  :root {
    /* toast message */
    --toast-message-maring: 0 0 0 0.8rem;
    --toast-message-width: 35rem;
    --toast-message-main-icon-width: 1.5rem;
    --toast-message-main-icon-height: 1.5rem;
    --toast-message-font-size: 0.9rem;
}

body {
    background: var(--p-surface-ground);
}

client-list p-confirmDialog .p-component-overlay {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.card {
    background: var(--p-surface-card);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 24px 36px rgba(0, 0, 0, 0.04);
}

.p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 0.75rem !important;
}

.p-accordion .p-accordion-content {
    padding: 0.5rem 2rem;
}

input {
    max-width: 100% !important;
    width: 100%;
}

.p-datePicker {
    width: 100%;
}

.p-select {
    min-width: 75%;
    max-width: 100%;
}

.p-select-panel .p-select-items .p-select-item {
    padding: 0.25rem 0.75rem
}

.p-inputtext {
    padding: 0.25rem 0.75rem;
}

textarea {
    min-height: 4rem !important;
    width: 100%;
}

.p-button.p-button-icon-only.p-button-rounded {
    width: 1.5rem;
    height: 1.5rem;
    font-weight: bold;
    border: 0px;
}

.add-button button {
    background: var(--p-green-700);
    color: white;
}

.add-button:hover button {
    background: var(--p-green-700);
}

.remove-button button {
    background: var(--p-red-600);
    color: white;
}

.remove-button:hover button {
    background: var(--p-red-700);
}

.update-button button {
    background: var(--p-blue-600);
    color: white;
}

.update-button:hover button {
    background: var(--p-blue-700);
}

.top-menu-button button {
    padding: 0.4rem 0.7rem;
}

.p-select, .p-inputtext {
    border-color: #f1f0f0;
}

.p-datatable .p-datatable-tbody > tr > td {
    padding: 0.75rem;
}

.p-datatable .p-datatable-thead > tr > th {
    padding: 0.5rem 1rem;
    border-width: 0 0 0 0;
}

.toggle-button .p-togglebutton {
    padding: 0.4rem 0.7rem;
}

.p-togglebutton.p-button.p-highlight {
    padding: 0.4rem 0.7rem;
    background: #d1d5db;
    border: 1px solid #d1d5db;
}

.p-tabview .p-tabview-panels {
    padding: 1rem 0;
}

/* toast message */

.p-toast {
    min-height: 1rem !important;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
    font-size: var(--toast-message-font-size);
    white-space: pre-line;
}

.p-toast .p-toast-message .p-toast-message-content .p-icon:not(.p-toast-icon-close-icon) {
    width: var(--toast-message-main-icon-width);
    height: var(--toast-message-main-icon-height);
}

.p-toast {
    width: var(--toast-message-width);
}

.p-toast .p-toast-message .p-toast-message-content {
    padding: 0.9rem;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
    margin: var(--toast-message-maring);
}

.cell-right {
    text-align: right !important;
}

.p-breadcrumb {
    --p-breadcrumb-padding: 0;
    border: 0;
}

.text-primary {
    color: var(--p-gray-600)!important;
}

.top-label {
    padding: 0.5rem 0;
}
