<p-dialog header="header"
          [(visible)]="visible"
          appendTo="body"
          [modal]="true"
          [style]="{ width: '50vw', 'max-width': '800px'}"
          (onHide)="onClose()">
    <ng-template pTemplate="header">
        <div class="flex flex-column gap-2">
            <h1 class="m-0 text-900 font-semibold line-height-3">{{ header }}</h1>
        </div>
    </ng-template>
    <form [formGroup]="addTaskForm">
        <div class="grid grid-nogutter surface-border  p-1">
            <div class="md:col-6 p-1">
                <label for="name" class="block  text-color text-base">Task name</label>
                <span class="p-input-icon-left w-full">
                    <input type="text" class="w-full" id="name" formControlName="name" pInputText placeholder="task name"
                           [ngClass]="{'is-invalid': (addTaskForm.get('name')?.touched || addTaskForm.get('name')?.dirty) && !addTaskForm.get('name')?.valid }"/>
                </span>
            </div>
            <div class="md:col-6 p-1">
                <label for="type" class="block  text-color text-base">Type</label>
                <span class="p-input-icon-left w-full">
                    <p-dropdown [options]="$taskTypes()" optionLabel="label" optionValue="id"
                                formControlName="type" class="w-full" appendTo="body" id="type">
                    </p-dropdown>
                </span>
            </div>
        </div>
        <div class="grid grid-nogutter surface-border  p-1">
            <div class="md: p-1 p-1">
                <div class="text-500 font-medium  h-2rem">Note</div>
                <textarea formControlName="note" id="note" type="text" pInputTextarea rows="2"
                          [autoResize]="true" style="height: 4rem;overflow: hidden;"></textarea>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <div class="flex gap-3 justify-content-end border-top-1 surface-border pt-5">
            <p-button label="Cancel" styleClass="p-button-outlined p-button-secondary"
                      (onClick)="onCancel()"></p-button>
            <p-button label="Save" styleClass="p-button-outlined" [disabled]="!isSaveEnabled()"
                      (onClick)="onSave()"></p-button>
        </div>
    </ng-template>
</p-dialog>
