<wrapper [title]="cost?.name!">
    <div wrapper-body>
        <p-accordion [multiple]="true" [value]="['0']">
            <p-accordion-panel value="0">
                <p-accordion-header>Cost details</p-accordion-header>
                <p-accordion-content>
                <form [formGroup]="costDetailsForm">
                    <div class="p-2">
                        <div class="flex flex-col lg:flex-row lg:justify-end items-center justify-end">
                            <p-button title="Update cost" icon="pi pi-arrow-down" [disabled]="!isFormChanged()" (onClick)="onSave()" [outlined]="true" [rounded]="true" class="update-button transition-colors duration-300"></p-button>
                        </div>
                        <div class="grid grid-cols-12 gap-4 border-surface p-1">
                            <div class="md:col-span-4 p-1">
                                <div class="text-surface-500 dark:text-surface-300 font-medium">Name</div>
                                <input formControlName="name" id="name" pInputText class="w-full">
                            </div>
                            <div class="md:col-span-4 p-1">
                                <div class="text-surface-500 dark:text-surface-300 font-medium">Category</div>
                                <p-select [options]="costCategories!" optionLabel="label" optionValue="id"
                                            formControlName="category" class="w-full" styleClass="w-full">
                                </p-select>
                            </div>
                            <div class="md:col-span-4 p-1">
                                <div class="text-surface-500 dark:text-surface-300 font-medium">Value</div>
                                <p-inputNumber formControlName="value" id="value" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" styleClass="w-full"></p-inputNumber>
                            </div>
                        </div>
                        <div class="grid grid-cols-12 gap-4 border-surface p-1">
                            <div class="md:col-span-2 p-1">
                                <div class="text-surface-500 dark:text-surface-300 font-medium">Has Invoice</div>
                                <p-toggleSwitch formControlName="hasInvoice" id="hasInvoice"></p-toggleSwitch>
                            </div>
                            <div class="md:col-span-2 p-1">
                                <div class="text-surface-500 dark:text-surface-300 font-medium">Paid</div>
                                <p-toggleSwitch formControlName="paid" id="paid"></p-toggleSwitch>
                            </div>
                            <div class="md:col-span-4 p-1">
                                <div class="text-surface-500 dark:text-surface-300 font-medium">Date</div>
                                <p-datePicker formControlName="date" id="date" dateFormat="yy-mm-dd"></p-datePicker>
                            </div>
                            <div class="md:col-span-4 p-1">
                                <div class="text-surface-500 dark:text-surface-300 font-medium">Payment Date</div>
                                <p-datePicker formControlName="paymentDate" id="paymentDate" dateFormat="yy-mm-dd"></p-datePicker>
                            </div>
                        </div>
                        <div class="grid grid-cols-12 gap-4 border-surface p-1">
                            <div class="md:col-span-12 p-1">
                                <div class="text-surface-500 dark:text-surface-300 font-medium">Note</div>
                                <textarea formControlName="note" id="note" type="text" pInputTextarea rows="2"
                                          [autoResize]="true" class="w-full"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
                </p-accordion-content>
            </p-accordion-panel>
        </p-accordion>
    </div>
    <div wrapper-buttons>

    </div>
</wrapper>
