<p-table *ngIf="stages" [value]="stages" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Architect</th>
            <th>Name</th>
            <th></th>
            <th>Type</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-stage>
        <tr [routerLink]="['/projects', projectId, 'stages', stage.id]" class="cursor-pointer">
            <td class="text-center">
                <div class="flex items-center justify-content-center gap-2">
                    <p-avatar [label]="getArchitectInitials(stage.architectId)" shape="circle" styleClass="bg-primary text-white" size="normal"></p-avatar>
                    <span>{{ getArchitectName(stage.architectId) }}</span>
                </div>
            </td>
            <td>{{ stage.name }}</td>
            <td>
                <button pButton pRipple class="p-button-text p-button-plain p-0" icon="pi pi-times" (click)="deleteTask($event, stage.name, stage.id)" size="small"></button>
            </td>
            <td>{{ getStageLabelType(stage.type) }}</td>
            <td>{{ getStageStatusLabel(stage.status) }}</td>
        </tr>
    </ng-template>
</p-table>

