<p-table *ngIf="stages" [value]="stages" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
            <th>Type</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-stage>
        <tr [routerLink]="['/projects', projectId, 'stages', stage.id]" class="cursor-pointer">
            <td>{{ stage.id }}</td>
            <td>{{ stage.name }}</td>
            <td>
                <button pButton pRipple class="p-button-text p-button-plain p-0" icon="pi pi-times" (click)="deleteTask($event, stage.name, stage.id)" size="small"></button>
            </td>
            <td>{{ getStageLabelType(stage.type) }}</td>
            <td>{{ getStageStatusLabel(stage.status) }}</td>
        </tr>
    </ng-template>
</p-table>

